---
import Header from "../components/Header.astro";
import RestaurantForm from "../components/RestaurantForm.astro";
import RestaurantList from "../components/RestaurantList.astro";
import RestaurantView from "../components/RestaurantView.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STAURANT</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/restaurant.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
  </head>
  <body>
    <Header />
    <RestaurantForm />
    <RestaurantList />
    <RestaurantView />

    <script type="module" src="/src/scripts/main.js"></script>

  </body>
</html>
