<section id="new-restaurant" class="flex-row">
  <form id="new-restaurant-form" class="flex-column">
    <h5>ADD NEW RESTAURANT</h5>
    <div class="flex-row">
      <input id="name-restaurant-input" type="text" placeholder="Name new restaurant.." required />
      <button type="submit" class="flex-row">ADD</button>
    </div>
  </form>
</section>
